TG_TOKEN = '<getthisfrombotfather>'

# Dictionary from Telegram user ID to their via API access token.
USER_TOKENS = {
    12345678: 'access_token'
}

# Dictionary from Telegram to via group ID.
VIA_GROUPS = {
    -1020304050: 12,
}